[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-testmon = "*"
pytest-xdist = "*"
pytest-watch = "*"

[packages]
Panda3D = "==1.10.5"
pip = "==19.3.1"

[requires]
python_version = "3.7"
